<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="test" value="./packages" />
  </packageSources>
  <disabledPackageSources>
    <add key="art-ua/Sbtech-cache" value="true" />
    <add key="art/SBTechFeature" value="true" />
    <add key="art-ua/Sbtech-cache" value="true" />
    <add key="art/SBTechFeature" value="true" />
  </disabledPackageSources>
</configuration>